#include "afxres.h"

#pragma code_page(936)

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,4
 PRODUCTVERSION 1,0,0,4
 FILEFLAGSMASK 0x17L
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "Comments", "Global Hook"
            VALUE "CompanyName", "runsisi AT hust.edu.cn"
            VALUE "FileDescription", "runsisi AT hust.edu.cn"
            VALUE "FileVersion", "1.0.0.4"
            VALUE "LegalCopyright", "Copyright (C) 2015"
            VALUE "OriginalFilename", "GlobalHook.dll"
			VALUE "ProductName", "Global Hook DLL"
            VALUE "ProductVersion", "1.0.0.4"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
